<%= link_to like_post_path(@post), method: :put, remote: true, class: "btn btn-default btn-sm" do %>
                    <span class="glyphicon glyphicon-chevron-up"></span>
                    Like
                    
                    <%= @post.get_upvotes.size %>
                  <% end %>