/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';

body{
	 padding-top: 70px;
	 background: rgb(126, 126, 126);
	 background-image: -webkit-linear-gradient(top,#FFFFFF,#d2dbdc);
	 background-image: linear-gradient(to bottom, #FFFFFF, #d2dbdc);
	 font-family: 'Roboto',sans-serif;
}

#logo img{
  z-index: 9999;
  position: relative;
  top: -10px;
}

.navbar-brand a:hover, .navbar-brand a:focus, .navbar-brand a:active{
    
}
.navbar-brand{
    padding: 15px 0px;
}

#main_content {
	#content {
		float: none;
	}
	padding-bottom: 100px;
	.link {
		padding: 2em 1em;
		border-bottom: 1px solid #e9e9e9;
		.title {

			a {
				color: #FF4500;
			}
		}
	}
	.comments_title {
		margin-top: 2em;
	}
	#comments {
		.comment {
			padding: 1em 0;
			border-top: 1px solid #E9E9E9;
			.lead {
				margin-bottom: 0;
			}
		}
	}
}
.grid-item { width: 300px; }
.grid-item--width2 { width: 400px; }
.navbar-inner {
  background: #f1f1f1;
}
#logo a{
	color: #ab14ab;
	text-decoration: none;
}
.navbar-default .navbar-nav > li > a {
  color: #000;
}

$purple: #ab14ab;
$red: red;
$blue: rgb(97, 150, 182);

.center-block{
	
	max-width: 1035px;
}
.ui.cards{
  	margin: 0px auto;
    flex-wrap: nowrap;

    .card{
		width: 295px; /* If we will increase it then the number of posts will increase. */
		margin-bottom: 10px;

		a.user{
			color: rgb(99, 216, 212)
		}

		.top-card-info {
		  padding: 5px;
		  overflow: auto;

		  .post-icon{
			  width: 20px;
			  height: 20px;
			  border-radius: 10px;
		  }
			.external-post{
				background-color: $red;
			}
		  .challenge-post{
		  	background-color: $purple;
		  }
		  .regular-post{
		  	background-color: $blue;
		  }
		}
		.description{
			box-shadow: 0px 3px 0px 0px #d4d4d5, 0px 0px 0px 1px #d4d4d5;
                        .btn-group{
                            display: inline;
                            a{
                                margin: 2px 2px;
                            }
                        }
  		}
	}
}

#post-legend, .create-post{
	margin-bottom: 10px;
	.icon{
		width: 40px;
	  	height: 40px;
	  	border-radius: 20px;
	  	background-color: red;
		display: inline-block;	
	}
	.challenge-t{
		background-color: $purple;
	}
	.user-t{
		background-color: $blue;
	}
	.external-t{
		background-color: $red;
	}
}

.create-post{
	
	span{
		vertical-align: middle;
  		margin-right: 13px;
	}
}


@media (max-width: 900px){
	.ui.cards>.card{
		width: 300px;
	}

}

@media (max-width: 500px){
	.ui.cards>.card{
		width: 100%;
	}

}


@media (min-width: 1200px){
.container {
  width: 1243px;
}

}
.no-hover-style:hover {
    background-color:transparent;
}
